body {
    font-family: Arial, sans-serif;
    background-color: #7e39a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(180, 184, 179);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #534a4a;
}

button {
    background-color: #15b33c;
    color: rgb(250, 247, 247);
    cursor: pointer;
}

button:hover {
    background-color: #6322b8;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
